*{
    margin: 10px;
    padding-left: 10px;
}

h1{
    padding-left: 130px;
    font-size: x-large;
    font-style: italic;
    text-align: center;
}

h2{
    padding-left: 130px;
    font-size: x-large;
    font-style: italic;
    text-align: center;
}


img{
    padding-left: 600px;
    align-items: center;
}

p{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-style: italic;
}



